@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "IranBakh";
  direction: rtl;
  background: pink;
}

/* .custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 1rem;
} */

@font-face {
  font-family: "Rubik";
  src: url("../../public/font/Rubik-Bold.woff") format("woff");
}
@font-face {
  font-family: "IranBakh";
  src: url("../../public/font/YekanBakh-Bold.woff") format("woff");
}
@font-face {
  font-family: "IranBakh_Heavy";
  src: url("../../public/font/YekanBakh-Heavy.woff") format("woff");
}
@font-face {
  font-family: "IranBakh-medium";
  src: url("../../public/font/YekanBakh-Medium.woff") format("woff");
}
@font-face {
  font-family: "IranBakh-Regular";
  src: url("../../public/font/YekanBakh-Regular.woff") format("woff");
}
